
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
background: rgb(81, 81, 182);
background: linear-gradient(29deg, rgb(179, 179, 233) 13%, rgb(116, 116, 230) 43%, rgb(42, 101, 230) 65%, rgb(52, 32, 235) 100%);

padding: 30px 40px;
color: white;
text-align: center;
}

h1 {
    font-family: 'Akaya Telivigala', cursive;
    letter-spacing: 2px;
    margin-bottom: 15px;;
}

input {
    width: 75%;
    margin-right: 0;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-family: 'Akaya Telivigala', cursive;
}

.addBtn {
    width: 25%;
    padding: 10px;
    margin-left:0;
    background: #ba0ef3;
    color: rgb(96, 19, 100);
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bold;
  }

.addBtn:hover {
    background-color: rgb(32, 74, 211);
    color: rgb(40, 143, 191);
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(112, 42, 209);
    font-size: 14px;
    transition: 0.2s;
    font-family: 'Akaya Telivigala', cursive;
  
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

ul li:nth-child(odd) {
    background: #3fa0c9;
}

ul li:hover {
    background: rgb(82, 209, 223);
}
ul li.checked {
    background: rgb(186, 33, 33);
    color: rgb(218, 62, 62);
    text-decoration: line-through;
}

ul li.checked::before {
    content: "";
    position: absolute;
    border-color: rgb(211, 49, 49);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

.far {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12 px 16 px 12px 16px;

}

.far:hover {
    background-color: rgb(112, 232, 152);
    color: rgb(64, 186, 149);
}